<h1>  Create Event</h1>
<div id="form-error"></div>

<form
  hx-post="/events/new"
  hx-target="#form-error"
  hx-swap="innerHTML"
>
  <input name = "title" placeholder="Title" />
  <br /><br />
  <input name = "location" placeholder="Location" />
  <br /><br />
  <input name="category" placeholder="Category" />
  <br /><br />
  <input type = "datetime-local" name="startTime" />
  <br /><br />
  <input type = "datetime-local" name="endTime" />
  <br /><br />
  <input name = "description" placeholder="Description"/>
  <br /><br />
  <button type ="submit">Create Event</button>

</form>
<br />
<a href="/home">← Back to Dashboard</a>