<h1>Create Event</h1>

<form action="/events/new" method="POST">
  <input name="title" placeholder="Title" required />
  <input name="location" placeholder="Location" required />
  <input type="datetime-local" name="startTime" required />
  <input type="datetime-local" name="endTime" required />
  <textarea name="description"></textarea>
  <button type="submit">Create</button>
</form>